
body{
 text-align: center;
 
}

h1{
 background-color: rgb(2, 200, 101);
 border-radius: 15px;
 padding-top: 30px;
}

.icerik{
 background-color: antiquewhite;
 border-radius: 15px;
 border:5px solid rgb(80, 0, 0);
}